################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ClienteUpd8/.vs/ClienteUpd8/v17/.suo
